.cf7adn_hide_frm {
	height: 0;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.authorize-expires {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
}

.authorize-expires .cart-separation {
	padding: 0 10px
}
